@import '_bootstrap.css';

$brand-primary = #2c3e50
$brand-success = #18bc9c
$brand-info = #3498db
$brand-warning = #f39c12
$brand-danger = #e74c3c

.highlight
  &.success
    color #fff
    background-color $brand-success
  &.warning
    color #fff
    background-color $brand-warning
  &.info
    color #fff
    background-color $brand-info

[ng-cloak]
  display none

.result-item
  blockquote
    font-size 14px
    margin 0
    
    & + blockquote
      margin-top 10px
  
  mark
    background-color lighten($brand-warning, 60%)
    padding 2px

.pt-md
  margin-top 21px
