extends partials/layout

block content
  .container.pt-md
    .form-group(ng-controller='SearchController')
      p Interested in texts from The Talos Principle? Search below:
      input(type='text', class='form-control', ng-model='term', placeholder='Enter a filename, title, term or phrase')
        
      div.results-pane(ng-show='showResultsPane', ng-cloak)
        div(ng-if='isLoading') Searching...

        div(ng-if='results')
          p(ng-if='results.length < 1') No results were found.

          ul.result-list.list-group.ng-hide(ng-show='results.length > 0')
            li.result-item.list-group-item(ng-repeat='item in results track by $index')
              h4.list-group-item-heading.clearfix
                em.small.pull-right {{:: item.key }}
                a(href='{{:: item.url }}') {{:: item.title }}

              .list-group-item-text.result-details(ng-if='item.highlights.input || item.highlights.output')
                .row
                  div(ng-class="item.highlights.output ? 'col-md-6' : 'col-md-12'")
                    blockquote(ng-repeat="row in item.highlights.output.slice(0, 3)", ng-bind-html="row | unsafe")

                  div(ng-class="item.highlights.input ? 'col-md-6' : 'col-md-12'")
                    blockquote(ng-repeat="row in item.highlights.input.slice(0, 3)", ng-bind-html="row | unsafe")
